name: Release

on:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - dev
      - main

jobs:
  wind32:
    name: Build windows maker file.
    runs-on: windows-latest
    timeout-minutes: 5
    # strategy:
    #   matrix:
    #     platform: [macos-latest, ubuntu-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.14

      - name: Install dependencies
        run: npm ci

      - name: Build for windows
        run: npm run make
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Command-alias
          path: |
            out/make/**/*.exe
      #      out/make/**/*.zip
  linux:
    name: Build Linux maker file.
    runs-on: ubuntu-latest
    timeout-minutes: 5
    #     platform: [macos-latest]

    steps:
      - name: Install OS dependencies
        run: sudo apt install dpkg fakeroot rpm

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.14

      - name: Install dependencies
        run: npm ci

      - name: Build for windows
        run: npm run make
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Command-alias
          path: |
            out/make/**/*.zip
            out/make/**/*.deb
            out/make/**/*.rpm
          #  out/make/**/*.AppImage
  macOS:
    name: Build Linux maker file.
    runs-on: macos-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.14

      - name: Install dependencies
        run: npm ci

      - name: Build for windows
        run: npm run make
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Command-alias
          path: |
            out/make/*.dmg
            out/make/**/*.zip

  release:
    name: 'Create Release'
    runs-on: ubuntu-latest
    timeout-minutes: 3
    needs: [macOS, wind32, linux]

    steps:
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref }}
          name: ${{ github.ref_name }}
          body: Automated release for ${{ github.ref_name }}
          files: |
            out/make/*.dmg
            out/make/*.deb
            out/make/*.rpm
            out/make/*.AppImage

  # Remove all cache files wether the jobs complected or not
